<div class='grid_5 product_box'>

  
  <!-- <%= image_tag(product.product_image.thumb.url) %> -->
  <%= link_to "#{image_tag(product.product_image.thumb.url, class:'thumb_img')}".html_safe, product_path(product) %>
  <p><%= product.name %></p>
<!--   <p>Categories:</p>
  <% product.categories.each do |c| %>
    <li><%= c.name %></li>
  <% end %> -->
  <%= link_to 'Edit Item', edit_product_path(product)%>
  <%= link_to 'Remove Item', product, method: :delete %>

</div>