<div class='container_16 prod_details'>
  <div class='grid_6 prefix_1 prod_header'>
    <p><%= @product.name %></p>
  </div>
  <div class='grid_8 suffix_1 prod_header'>
    <p>Swap For:</p>
  </div>

  <div class='grid_6 prefix_1' id='product_image_holder'>
    <span id='zero'><%= image_tag @product.images[0].product_image.detail.url, class: 'prod_img' %></span>
  </div>

  <div class='grid_7 suffix_1 offer_box'>
    <%= form_for(@offer, :url => finalize_offer_path(@offer)) do |f| %>
      <% current_user.products.each do |p| %>
        <%= link_to (image_tag p.images[0].product_image.little.url, class: 'little'), product_path(p)%>
        <%= check_box_tag "@offer[product_ids][]", p.id, @offer.products.include?(@product) %>
      <% end %>
      <div class="actions">
        <%= f.submit 'Finalize Offer'%>
      </div>
    <% end %>
  </div>

</div>