<div class='container_16 prod_details'>
 
  <% @offers.each do |offer| %>
    <% if offer.users.first.email == current_user.email %>
      <p>Exchange with <%= offer.users.last.email %></p>
    <% else %>
      <p>Exchange with <%= offer.users.first.email %></p>
    <% end %>

    <div class='offer_box_index'>
      <p>You offerred:</p>
      <% offer.products.each do |p| %>
        <% if p.user == current_user %>
          <%= image_tag p.images[0].product_image.little.url, class: 'little'%>
        <% end %>
      <% end %>
    </div>

    <div class='offer_box_index'>
      <p>You shall receive:</p>
      <% offer.products.each do |p| %>
        <% if p.user != current_user %>
          <%= image_tag p.images[0].product_image.little.url, class: 'little'%>
        <% end %>
      <% end %>
    </div>
    <p>
      <%= link_to 'Amend', add_path(offer) %> |
      <%= link_to 'Cancel Offer', offer, method: :delete %>
    </p>
  <% end %>
</div>
