<div class='container_16 prod_details'>
  <div class='grid_15 prefix_1 prod_header'>
    <p><%= @product.name %></p>
  </div>

  <div class='grid_6 prefix_1 product_image_holder'>
    <%= link_to (image_tag @product.images[0].product_image.detail.url, class: 'prod_img'), (@product.images[0].product_image.detail.url), data: {lightbox: "roadtrip"}  %>
  </div>

  <div class='grid_8 suffix_1 show_box'>
    <p>
      <b>By User:</b>
      <%= @product.user.email %>
    </p>

    <p>
      <b>Description:</b>
      <%= @product.description %>
    </p>

    

    <% if current_user == nil %>
      <%= link_to 'Make Offer', add_first_item_path(@product) %> |
      <%= link_to 'Ask Question', add_first_item_path(@product) %>

    <% elsif current_user.email != @product.user.email && @product.offers.count > 0 %>
      <% @product.offers.each do |o| %>
        <%if (o.users[0] == current_user || o.users[1] == current_user) && o.completed == 'n' %>
          <span>Offer Placed</span> |
          <%= link_to 'Ask Question', add_first_item_path(@product) %>
        <% else %>
          <%= link_to 'Make Offer', add_first_item_path(@product) %> |
          <%= link_to 'Ask Question', add_first_item_path(@product) %>
        <% end %>
      <% end %>

    <% elsif current_user.email != @product.user.email %>
      <%= link_to 'Make Offer', add_first_item_path(@product) %> |
      <%= link_to 'Ask Question', add_first_item_path(@product) %>
      
    <% else %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Delete', @product, method: :delete %>
    <% end %>
  </div>
  <div class='clear'></div>

  <div class='grid_6 prefix_1 suffix_9'>
    <% counter = 0 %>
    <% @product.images.each do |i| %>

      <%= link_to (image_tag i.product_image.little.url, class: 'little'), (i.product_image.detail.url), data: {lightbox: "roadtrip"}  %>
      <% counter += 1 %>
    <% end %>
  </div>

</div>
<div class='clear'></div>
<div class='more_items'>
  <p id='other_items'>Other items from <span><%= @product.user.email %></span></p>
  <% prods = @product.user.products %>
  <% prods.each do |p| %>
    <%= link_to (image_tag p.images[0].product_image.mini.url, class: 'mini'), product_path(p) %>
  <% end %>
</div>

<script>
  $('.product_box').adipoli({
      'hoverEffect' : 'popout'
  });
</script>

