<div class='container_16 prod_details'>
  <div class='grid_15 prefix_1 prod_header'>
    <p><%= @product.name %></p>
  </div>

  <div class='grid_6 prefix_1'>
    <%= image_tag @product.images[0].product_image.detail.url, class: 'prod_img' %>
  </div>
  <div class='grid_8 suffix_1 show_box'>
    <p>
      <b>By User:</b>
      <%= @product.user.email %>
    </p>

    <p>
      <b>Description:</b>
      <%= @product.description %>
    </p>

    <% if current_user == nil %>
      <%= link_to 'Maker Offer', offers_path %> |
      <%= link_to 'Ask Question', offers_path %>
    <% elsif current_user.email != @product.user.email %>
      <%= link_to 'Maker Offer', offers_path %> |
      <%= link_to 'Ask Question', offers_path %>
    <% else %>
      <%= link_to 'Edit', edit_product_path(@product) %> |
      <%= link_to 'Delete', @product, method: :delete %>
    <% end %>
  </div>

  <div class='grid_6 prefix_1 suffix_9'>

    <% @product.images.each do |i| %>
      <%= image_tag i.product_image.little.url, class: 'little' %>
    <% end %>
  </div>

</div>
<div class='clear'></div>
<div class='more_items'>
  <p id='other_items'>Other items from <span><%= @product.user.email %></span></p>
  <% prods = @product.user.products %>
  <% prods.each do |p| %>
    <%= link_to (image_tag p.images[0].product_image.mini.url, class: 'mini'), product_path(p) %>
  <% end %>
</div>

