<!DOCTYPE html>
<html>
<head>
  <title>Barter Shop</title>
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Didact+Gothic' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrap">
  <div id="container">
  <nav>
    <div id='menu_top'>
      <%= link_to image_tag("/assets/thebartershop_logo_1.png"), home_index_path %>
      <div id='center_menu'>
        <%= form_tag search_path, method: :get, id: 'product_search' do %>
          <%= text_field_tag(:search, nil, placeholder: "Search here", autofocus: true, id: 'search_box') %>
          <%= content_tag(:button, "Search", class: 'submit_btn') %>
        <% end %>

      </div>
      <div id='right_nav'>
        <% if current_user %>
          <ul>
            <li id='hello_user'>Hello, <%=current_user.email%>
              <ul>
                <li><%= link_to 'My Items', products_path %></li>
                <li><%= link_to 'Pending Offers', offers_path %></li>
                <li><%= link_to 'Completed Offers', completed_offers_path %></li>
                <li><%= link_to 'Add Item', new_product_path %></li>
                <li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
          </ul>
        <% else %>
          <p><%= link_to 'Sign Up', new_user_registration_path %></p>
          <p><%= link_to 'Log In', new_user_session_path %></p>
        <% end %>
      </div>
    </div>
  </nav>
    <div id='categories_menu'>
      <% Category.all.each do |c| %>
        <p><%= link_to c.name.upcase, cat_show_path(c) %></p>
      <% end %>
      <p>more</p>
    </div>



  <%= yield %>

  </div>

  <div class='clear'></div>
</div>
  <footer>
    <div class='left_footer'>
      © 2014 The Barter Shop 
    </div>
    <div class='right_footer'>
      About | Help | Contact Us
    </div>
  </footer>
</body>
</html>
